*{
    transition: all 2s;
    transform-style: preserve-3d;
    
}
b{
    font: bold;
    font-family: 'Times New Roman', Times, serif;
    color: floralwhite;
    font-size: xx-large;
    background-color: black;
    margin: 20px;
}
i{
    font: large;
    font-size: larger;

}